<% include partials/header.ejs %>

<div class="container jumbotron">
	<form action="/PO/<%= PO %>/new" method="post" onsubmit="return confirm('Are you sure you want to add these to the PO?');">
		<div class="row container form-group">
				<div class="col-md-8">
					<label for="PO_no">PO Number</label>
					<input type="text" name="PO_no" value="<%= PO %>" readonly class="form-control-plaintext" id="PO_no" class="form-control">
				</div>
				<div class="col-md-4">
					<label for="date">Date</label>
					<input type="date" name="date"  required id="date" class="form-control-plaintext" value="<%= date.toISOString().substring(0,10) %>">
				</div>
			</div>
		<div class="row">
			<div class="col-md-6">
				<label for="product_name">Description/DTPL Part Number</label>
				<input type="text" name="raw" list="Product" id="product_name" class="form-control">
					<datalist id="Product" name="Product">
						<% for(var i=0;i<raw_materials.length;i++){ %>
							<option value="<%= raw_materials[i].name %>$<%= raw_materials[i].DTPL_code %>"><%= raw_materials[i].code %>/<%= raw_materials[i].name %>/<%= raw_materials[i].DTPL_code %></option>
						<% } %>
					</datalist>
			</div>
			<div class="col-md-6">
				<label>Quantity<input type="number" name="quantity" class="form-control"></label>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-success">Add!</button>
	</form>
</div>

<% include partials/footer.ejs %>